.header__top{
    background-color: $black-color;
    min-height: 40px;
}
.header__top-inner{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__middle{
    padding: 10px 0;
}