*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-size: 13px;
}
body{
    min-width: 320px;
    font-family: Roboto;
}
.container{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
a{
    color: $links-color;
}